@using EmployeeManagement.Logic
@using EmployeeManagement.Helpers
@model EmployeeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row header-title">
    <div class="title">Sample 5 - Multiple custom grid on single page</div>
    <hr class="hr-tp-0" />
</div>

<div class="row ">
    <h4 class="header-title">1. Custom Grid with paging</h4>
    <div id="Sample1List">
        @Html.Partial("Sample1List", Model)
    </div>
</div>

<br />
<div class="row ">
    <h4 class="header-title">2. Custom Grid with paging and sorting</h4>
    <div id="Sample2List">
        @Html.Partial("Sample2List", Model)
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Common.js"></script>
}
