@using EmployeeManagement.Logic
@using EmployeeManagement.Helpers
@model EmployeeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_FilterMenu")

<div class="row header-title">
    <div class="title">Sample 3 - Custom Grid with Each Column filter, paging and sorting  </div>
    <hr class="hr-tp-0" />
</div>

<div class="row" id="Sample3List">
    @Html.Partial("Sample3List", Model)
</div>

@section scripts{
    <link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.datetimepicker.full.js"></script>

    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript">
        rootUrl = "@Url.Content("~/")";
        var ControllerName = "Home"; var ActionName = "Sample3FilterSearch"; var tableList = "Sample3List"; var tableName = "tblSample3";//For Grid

        function InitCheckboxAndDoubleClick() {
            CheckboxCheck(tableName);//Checkbox Select - Common.js
        }
        function DropDownChange($this) {//grid header filter dropdown change
            Search(ControllerName, ActionName, tableList, tableName);
        }
    </script>
    @*start Grid paging/Sorting*@
    <script>
        bindGridEvent(tableName);
        FilterCondition("condition", ControllerName, ActionName, tableList, tableName);
    </script>
}


